access-mule/src/main/mule/read-header.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-headerFlow" doc:id="350b5978-1bc5-4dd1-aaf1-2ccfb93939a7" >
		<http:listener doc:name="Listener" doc:id="832538e5-09f4-4e4d-859f-c7c7fa829b08" config-ref="readpayload_httplisterner_config" path="header" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="98ed5458-9012-4198-b0be-cadc83b53840" message="#[attributes.headers.empId]"/>
	</flow>
</mule>
