access-mule/src/main/mule/read-json-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="readpayload_httplisterner_config" doc:name="HTTP Listener config" doc:id="a0a1d023-07cf-4b11-923d-a59a0b19f189" basePath="read" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="read-json-payloadFlow" doc:id="303a8989-b22f-41c6-96c2-8b915fd67477" >
		<http:listener doc:name="Listener" doc:id="cc4b6177-3f24-4a75-9b42-1d92152442c4" config-ref="readpayload_httplisterner_config" path="json-payload" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="6421e632-cbec-4503-a67d-e871bbd74e5f" message="#[payload.empId]"/>
	</flow>
</mule>
