access-mule/src/main/mule/read-xml-payload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-xml-payloadFlow" doc:id="448a0d45-5490-4b6b-862b-77ab9e7d1b42" >
		<http:listener doc:name="Listener" doc:id="af06380a-abf5-4316-9137-d0e58bdc00ac" config-ref="readpayload_httplisterner_config" path="xml-payload" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="f3a757fb-71cd-43bd-a59a-12600731f033" message="#[payload.emp.empId]"/>
	</flow>
</mule>
