access-mule/src/main/mule/read-query-params.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-query-paramsFlow" doc:id="aa747d5f-7caf-4aa9-8f43-d779654ec8db" >
		<http:listener doc:name="Listener" doc:id="b0c6dce6-cf73-47e1-a985-aa64402cbf56" config-ref="readpayload_httplisterner_config" path="query-params" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="67819a46-0d9f-4531-81d2-e944a126f604" message="#[attributes.queryParams.empId]"/>
	</flow>
</mule>
