emp-mule-database/src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="aa45d662-f24e-41d4-bf6c-defd1abbc546" >
		<http:listener doc:name="Listener" doc:id="f6312ee6-5baa-40df-8e0a-87c257cefaa8" config-ref="HTTP_Listener_config" path="update-emp" allowedMethods="PUT" responseStreamingMode="ALWAYS"/>
		<logger level="INFO" doc:name="Logger" doc:id="979bcf47-2b2b-465f-8c01-27e9ec1e6a3e" message="#[payload]"/>
		<db:update doc:name="Update Employee" doc:id="23738870-6fc3-4196-a31e-d01f43b0c631" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE employee SET empAge = :empAge WHERE empId = :empId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empId: payload.employee.empId,
	empAge: payload.employee.empAge
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set Response" doc:id="6c95a982-2ef8-4ef0-b165-1a7a1b17c84e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		"status":200,
		"message":"success"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dba2b982-11fb-45da-9bcd-619e820a557b" message="Flow End"/>
	</flow>
</mule>
